{% load template_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'confirm_score' %}" method="post">
    {% csrf_token %}
    <div>
        {% for mov in movies %}
        <label for="mov-{{ forloop.counter }}">{{ mov.title }}</label>
        <input type="number" id="mov-{{ forloop.counter }}" name="score[{{mov.id}}]"
               min="1" max="10" value="{{scores|get_item:mov.id}}">
        {% endfor %}

        <button type="submit">ثبت</button>

    </div>
</form>
</body>
</html>